[data-flexscroll-viewport] {
  display: flex;
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: both mandatory;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

[data-flexscroll-item] {
  flex: 0 0 auto;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}
